
@import '../../../main.scss';
ul{
    display: grid;
    justify-self: center;
    list-style: none;
    padding: 0;
    li{
        border-bottom:1px solid $grey-border;
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
}
:host{
    overflow-y: auto;
}