@import "../../../main.scss";
main{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    .img-container{
        background-image: url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk);
        background-size: 468.32px 634.15px;
        background-repeat: no-repeat;
        height: 520px;
        flex-basis: 380.32px;
        background-position: -46px 0;
        margin-right: 32px;
        margin-bottom: 12px;
        height: 581px;
        .switch-img{
            width: 252px;
                height: 540px;
                left: 0;
                top: 0;
                z-index: 1;
                float: right;
                margin-right: 15px;
                margin-top: 26px;
            img{
                
                opacity: 0;
                transition-timing-function: ease-in;
                transition-duration: 1.5s;
                transition-property: opacity;
                position: absolute;
                &.active{
                    opacity: 1;
                }
        }
        }
    }
    .form-container{
        
        display: grid;
        border: 1px solid $grey-border;
        width: 350px;
        max-width: 350px;
        margin-bottom: 8px;
        .lirongram{
            margin-top: 32px;
            margin-inline:40px ;
            margin-bottom: 40px;
            justify-self: center;

        }
        form{
            display: flex;
            flex-direction: column;
            input{
                padding: 9px 0px 7px 8px;
                margin-bottom: 6px;
                margin-inline:40px ;
                border-radius: 3px;
                border: 1px solid $grey-border;
            }
            button{
                background-color: $blue;
                outline: 0;
                border: 0;
                color: white;
                margin-block:8px ;
                margin-inline:40px ;
                font-size: 14px;
                border-radius: 5px;
                opacity: .7;
                padding: 7px 16px;
            }
        }
    }
    .signup{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $grey-border;
        padding-block: 12px;
        .text{
            margin: 15px;
            a{
                text-decoration: none;
                color: $blue;
                margin-left: 4px;
                font-weight: 600;
            }
        }
    }
}