<main>
    <div class="img-container">
        <div class="switch-img">

            <img [class.active]="(urlIdx === 0)" src="home1.png" alt="">
            <img [class.active]="(urlIdx === 1)" src="home2.png" alt="">
            <img [class.active]="(urlIdx === 2)" src="home3.png" alt="">
            <img [class.active]="(urlIdx === 3)" src="home4.png" alt="">
        </div>
    </div>
    <div>
        <div class="form-container">
            <img class="lirongram" src="lirongram.png" alt="">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input formControlName="username" placeholder="Username, or email" type="text">
                <input formControlName="password" placeholder="Password" type="password" name="" id="">
                <button>Log in</button>
            </form>
        </div>
        <div class="signup">
            <div class="text">

                <span>Don't have an account?</span><a routerLink="/signup">  Sign up</a>
            </div>
        </div>
    </div>
</main>