<article class="post-preview" *ngIf="(curUser$ | async) as curUser">
<header>
    <div class="user-info">
        <user-profile-image [size]="32" [imgSrc]="story.by.imgUrl"/>
        <span class="name">{{story.by.username}}</span>
        <span (click)="onFollow()" [style.display]=" (curUser | isfollowing :story.by._id) " class="follow">Follow</span>
    </div>
    <svg aria-label="More options" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
</header>
    <img class="post" [src]="story.imgUrl" alt="">
    <footer>
        <div class="actions">
            <div class="on-post">
               

                    <svg #like (click)="onLike()" [class.red]="( curUser  |isliked :story) " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="black"  height="24"   width="24" role="img"> <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5  2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09   C13.09 3.81 14.76 3 16.5 3    19.58 3 22 5.42 22 8.5  c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                
                <svg aria-label="Comment" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
                <svg aria-label="Share" class="x1lliihq x1n2onr6 xyb1xck" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line><polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon></svg>
            </div>
            <svg aria-label="Save" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg>
        </div>
        <div class="likes"><span>{{story.likedBy.length}} likes</span></div>
        <div class="description"><span class="name">{{story.by.username}}</span> <p>{{story.txt}}</p></div>
        <div class="translate">See translation</div>
        <textarea placeholder="Add a Comment..." name="" id=""></textarea>
    </footer>
</article>
